In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [4]:
df = pd.read_csv("loan_data.csv")
df.head()

   credit.policy             purpose  ...  pub.rec  not.fully.paid
0              1  debt_consolidation  ...        0               0
1              1         credit_card  ...        0               0
2              1  debt_consolidation  ...        0               0
3              1  debt_consolidation  ...        0               0
4              1         credit_card  ...        0               0

[5 rows x 14 columns]

In [5]:
columns_to_drop = ["purpose", "days.with.cr.line", "revol.bal", "delinq.2yrs", "pub.rec"]
df = df.drop(columns=columns_to_drop)

In [7]:
df.head()

   credit.policy  int.rate  ...  inq.last.6mths  not.fully.paid
0              1    0.1189  ...               0               0
1              1    0.1071  ...               0               0
2              1    0.1357  ...               1               0
3              1    0.1008  ...               1               0
4              1    0.1426  ...               0               0

[5 rows x 9 columns]

In [8]:
df.shape

(9578, 9)

In [9]:
df.isnull().sum()

credit.policy     0
int.rate          0
installment       0
log.annual.inc    0
dti               0
fico              0
revol.util        0
inq.last.6mths    0
not.fully.paid    0
dtype: int64

In [10]:
df.duplicated().sum()

np.int64(1)

In [11]:
df = df.drop_duplicates()
df.duplicated().sum()

np.int64(0)